<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary text-white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">NewsCheck </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin']">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/tickets']" href="#">Tickets</a>
      <a class="nav-item nav-link" [routerLinkActive]="['active']" href="#" (click)="logout()">Logout</a>

    </div>
  </div>
</nav>
