<app-nav></app-nav>
<div class="jumbotron jumbotron-fluid bg-info text-center text-white">
  <h1 class="display-4"> Instructions </h1>
  <p class="lead"> Login To Your Account</p>
</div>

<div class="container-fluid">
  <h5 class="display-6">
    Installation:
  </h5>
  <p>
      <li> Download Chrome Extension </li>
      <li> Go To Chrome -> Settings -> Extensions </li>
      <li> Click Load Unpacked Extension </li>
      <li> Navigate to Root Folder of The chrome extension </li>
  </p>

  <h5 class="display-6">
    Usage:
  </h5>
  <p>
    <li> Go To facebook.com and login to your account</li>
    <li> You should notice a colored progress bar.</li>
    <li> Red Means News is likely fake or very biased.  </li>
    <li> Orange Means News is unlikely to be fake, but use caution since source is not reputed. </li>
    <li> Green Means News is not fake and is from a reputed source. </li>
    <li> Click on Agree button if you think the analysis of news was correct.</li>
  </p>

  <h5 class="display-6">
    Admin Panel:
  </h5>
  <p>
  <li> To Add a new Source, Ennter the details of the source in top left box and click add.</li>
  <li> To preview a source data, search for it in the box on top right.</li>
  <li> All preview of data can be seen in the box in the second row.</li>
  <li> You can edit this data by clicking edit button. Once changes are made save it by clicking save </li>
  <li> You can see requests by source parties in the next row. </li>
  <li> Once the request is handled, press resolve to delete the request.</li>
  </p>
</div>


